MYSQL_DATABASE=my1application
MYSQL_USER=change_me
MYSQL_PASSWORD=change_me
MYSQL_ROOT_PASSWORD=change_me

SPRING_DATASOURCE_URL=jdbc:mysql://host.docker.internal:3306/my1application
SPRING_DATASOURCE_USERNAME=change_me
SPRING_DATASOURCE_PASSWORD=change_me
